<section class="heading-section">
  <h1 class="title is-1 has-text-centered">ToDo List</h1>
</section>

<div class="container">
  <div class="add-tarefa-box">
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
      <h2 class="title is-5">Nova Tarefa</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input
            required
            ngModel
            #campoTarefa="ngModel"
            name="texto"
            minlength="2"
            class="input"
            type="text"
            placeholder="Adicione uma nova Tarefa..."
            ngModel
            name="texto"
          />
        </p>
        <p class="control">
          <button class="button alt-gradient-button">
            <i class="material-icons">add</i>
            Adicionar
          </button>
        </p>
      </div>
      <div *ngIf="campoTarefa.invalid && errosValidacao">
        <p class="help is-danger" *ngIf="campoTarefa.errors!['required']">
          Por favor adicione uma tarefa.
        </p>
        <p class="help is-danger" *ngIf="campoTarefa.errors!['minlength']">
          A tarefa precisa ter no mínimo 2 caracteres.
        </p>
      </div>
    </form>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="tarefas-list">
      <app-item-tarefa *ngFor="let tarefa of tarefas" [tarefa]="tarefa"></app-item-tarefa>
    </div>
  </div>
</section>
