.heading-section{
    background: linear-gradient(to right,rgb(2,228,171),rgb(74,215,240));

    padding: 100px;
    padding-bottom: 150px;

    h1.title{
        font-weight: bold;
        color: white;
        text-shadow: 0px 1px 2px rgba(black,0.5);
    }
}

.container{
    max-width: 800px;
}

.add-todo-box{
    padding: 25px;
    border-radius: 5px;
    margin-top: -68px;

    background-color: white;
    box-shadow: 0 4px 12px rgba(black,0.2);
}

.todo-item{
    display: flex;

    align-items: center;

    padding: 35px 15px;
    border-bottom: 1px solid #f2f3f5;

    font-size: 18px;

    cursor: pointer;

    &.completed{
        color: #aaa;
    }
}

.todo-item .check-box{
    display: flex;

    flex-shrink: 0;

    border: 2px #eee solid;
    border-radius: 50%;

    height: 28px;
    width: 28px;

    margin-right: 20px;

    i.material-icons{
        font-size: 20px;
        margin: auto;

        color: #333;

        opacity: 0;

        transition: opacity 0.2s;
    }
}

.todo-item:hover .check-box{
    background-color: #eee;

    i.material-icons{
        opacity: 0.28;
    }
}

.todo-item.completed .check-box{
    background-color: rgb(11,223,170);
    border-color: rgb(11,223,170);

    i.material-icons{
        opacity: 1;
    }
}

.todo-item .todo-controls-box{
    display: flex;

    position: absolute;
    bottom: 0;
    right: 5px;
}

.todo-controls-box .todo-control-button{
    display: flex;

    background: #f5f7f8;

    padding: 7px 10px;

    i.material-icons{
        font-size: 20px;
    }

    &:first-of-type{
        border-top-left-radius: 7px;
    }
    &:last-of-type{
        border-top-right-radius: 7px;
    }
}